{% set model = dbt_model('customers') %}

cubes:
  - {{ model.as_cube() }}

    dimensions:
      {{ model.as_dimensions() }}

      - name: customer_id
        sql: customer_id
        type: number
        primary_key: true
        shown: true

    measures:
      - name: count
        type: count