{# {% set model = dbt_model('orders') %}

cubes:
  - {{ model.as_cube() }}

    joins:
      - name: customers
        sql: "{CUBE.customer_id} = {customers.customer_id}"
        relationship: many_to_one

    dimensions:
      {{ model.as_dimensions() }}

    measures:
      - name: count
        type: count #}